.item-producto {
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    opacity: 0.5;
    img {
        width: 200px;
    }
    a:hover {
        text-decoration: none;
        color: inherit;
    }
    &:hover {
        opacity: 1;
    }
    p {
        color: black!important;
        margin-top: 20px;
    }
}

.item-producto:nth-child(2n) {
    margin-top: 140px;
}