$rojo: #c23236;
$plomo: #d8d8d8;
$amarillo: #e4d040;
$mostaza: #cdb745;
$aji:#cea241;
$fanta:#d1762a;
$break-small: 320px;
$break-large: 1200px;
$font-principal: 'Aliens';
$font-number: 'Hurufo';
@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file+'.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@include font('Aliens', '../fonts/Aliens');
@include font('Hurufo', '../fonts/Hurufo-Numero');
@import 'carta';
@import 'productos';
@import 'detail';
@import 'checkout';
* {
    font-family: $font-principal;
}

span {
    font-size: 1.4rem;
}

a {
    color: inherit !important;
}

.numero {
    font-family: $font-number;
}

hr {
    margin-top: 0px;
    width: 80%;
}

.text-plomo {
    color: $plomo;
}

.row {
    @media screen and (max-width: $break-large) {
        text-align: center;
    }
}

.navbar {
    height: 110px;
    background: $plomo;
    line-height: 105px;
    font-size: 22px;
    @media screen and (max-width: $break-small) {
        line-height: inherit;
    }
    .navbar-brand {
        font-size: 22px;
        @media screen and (max-width: $break-small) {
            width: 80px;
            span {
                display: none;
            }
        }
    }
    img {
        width: 90px;
        @media screen and (max-width: $break-small) {
            width: 80px;
        }
    }
}

.container {
    min-height: 66.5vh
}

.content {
    background: white;
    background-image: url(/assets/img/background.png);
    background-repeat: repeat;
}

.content-categorias {
    padding: 30px 0px;
}

.btn {
    border-radius: 0px;
    padding: 5px 25px;
    outline: none;
    &:focus {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        outline: 0px;
    }
}

.form-control {
    border: 1px solid black;
    outline: none!important;
    height: calc(1.25em + 0.65rem + 2px);
    border-radius: 0px;
    margin: 5px 0px;
}

.invalid-form {
    border: 1px solid #ef161c;
}

.error-small {
    color: #ef161c;
}

input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0px;
}

.home-content {
    height: 50vh;
}

.btn-info {
    background: white!important;
    color: black;
    border-color: black!important;
    &:hover {
        background: black!important;
        color: white;
        border-color: black;
    }
}

.btn-primary {
    background: black;
    border-color: black!important;
    color: white!important;
    &:hover {
        background: white;
        color: black;
    }
}

footer {
    height: 112px;
    display: block;
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    overflow: hidden;
    img {
        margin: 0px 5px;
        height: 40px;
    }
    p {
        margin-top: 10px;
    }
}