@font-face {
  font-family: "Aliens";
  src: url(/fonts/Aliens.ttf?d4f498023801dd6ec85ab70468df2c03) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hurufo";
  src: url(/fonts/Hurufo-Numero.ttf?6735f1afcc7634c40e1388b6a0edfaec) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.encabezado-border {
  border: 3px solid black;
  text-align: center;
  align-items: center !important;
  margin: auto;
  width: 200px;
}

.item-categoria {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  opacity: 0.5;
}

.item-categoria img {
  width: 100px;
}

.item-categoria a:hover {
  text-decoration: none;
  color: inherit;
}

.item-categoria:hover {
  opacity: 1;
}

.item-categoria:nth-child(2n) {
  margin-top: 140px;
}

.encabezado-border-min {
  border: 2px solid black;
  color: black;
  width: 200px;
  line-height: 40px;
  margin: auto;
  margin-top: 10px;
}

.encabezado-border-min p {
  margin-bottom: 0px !important;
}

.encabezado-border-min:hover {
  border-color: black;
  color: black;
}

.item-producto {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  opacity: 0.5;
}

.item-producto img {
  width: 200px;
}

.item-producto a:hover {
  text-decoration: none;
  color: inherit;
}

.item-producto:hover {
  opacity: 1;
}

.item-producto p {
  color: black !important;
  margin-top: 20px;
}

.item-producto:nth-child(2n) {
  margin-top: 140px;
}

.content-sub-total {
  margin-top: 4rem;
}

hr {
  margin-top: 10px !important;
  width: 100% !important;
}

.adicionals {
  border: 3px solid #d8d8d8;
  background: #d8d8d80f;
  text-align: left;
}

.adicional-row {
  padding: 10px;
  border-bottom: 1px solid black;
}

.circle-product {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid black;
  margin: auto;
}

.add-icon {
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: 10px;
  cursor: pointer;
}

.encabezado-adicional {
  border: 2px solid black;
  color: black;
  width: 130px;
  line-height: 40px;
  margin-top: 10px;
  text-align: center;
}

.resumen-producto-name {
  font-size: 1.9rem;
  color: #ef161c;
}

.resumen-producto-name > span {
  font-size: 3rem;
  margin: 0;
  font-weight: 300;
  vertical-align: middle;
}

.metodo-pago-card {
  box-shadow: 0px 0px 1px grey;
  margin: 15px 20px;
  text-align: center;
}

.metodo-pago-card .metodo-pago-header {
  background: black;
  padding: 15px 10px;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
}

.metodo-pago-card .metodo-pago-body {
  width: 100%;
  padding: 10px;
  display: block;
  height: 100px;
}

.modal-burguer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #2f496e73;
  width: 100%;
  height: 100%;
}

.modal-burguer-backdrop .modal-burguer {
  position: relative;
  background-color: #d9d9d9;
  width: 50%;
  margin: 0 auto;
  margin-top: 8%;
  border: 4px solid black;
}

@media screen and (max-width: 700px) {
  .modal-burguer-backdrop .modal-burguer {
    width: 90% !important;
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .modal-burguer-backdrop .modal-burguer {
    width: 90% !important;
    padding: 10px;
  }

  .modal-burguer-backdrop .modal-burguer h2 {
    font-size: 1.8rem !important;
  }

  .modal-burguer-backdrop .modal-burguer h4 {
    font-size: 1.4rem !important;
  }
}

.modal-burguer .btn-cerrar {
  position: absolute;
  top: -10px;
  right: -12px;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.modal-burguer .btn-cerrar:hover {
  background: #f52b16;
}

.modal-burguer .btn-cerrar i {
  line-height: 27px;
}

.modal-burguer-footer {
  margin-top: -80px;
}

.modal-burguer .modal-burguer-titulo {
  padding: 15px;
  font-weight: 550;
  color: black;
}

.modal-burguer .modal-burguer-body {
  padding: 20px;
  padding-bottom: 30px;
}

.square-adicionales {
  width: 10%;
  background: #d9d9d9;
  height: 200px;
  display: block;
  position: absolute;
  top: 16.7%;
  right: 3.1%;
  border: 4px solid black;
  display: none;
  visibility: hidden;
}

* {
  font-family: "Aliens";
}

span {
  font-size: 1.4rem;
}

a {
  color: inherit !important;
}

.numero {
  font-family: "Hurufo";
}

hr {
  margin-top: 0px;
  width: 80%;
}

.text-plomo {
  color: #d8d8d8;
}

@media screen and (max-width: 1200px) {
  .row {
    text-align: center;
  }
}

.navbar {
  height: 110px;
  background: #d8d8d8;
  line-height: 105px;
  font-size: 22px;
}

@media screen and (max-width: 320px) {
  .navbar {
    line-height: inherit;
  }
}

.navbar .navbar-brand {
  font-size: 22px;
}

@media screen and (max-width: 320px) {
  .navbar .navbar-brand {
    width: 80px;
  }

  .navbar .navbar-brand span {
    display: none;
  }
}

.navbar img {
  width: 90px;
}

@media screen and (max-width: 320px) {
  .navbar img {
    width: 80px;
  }
}

.content {
  background: white;
  background-image: url(/assets/img/background.png);
  background-repeat: repeat;
  min-height: 64vh;
}

@media screen and (max-width: 320px) {
  .content {
    min-height: 73vh;
  }
}

@media screen and (max-height: 800px) {
  .content {
    min-height: 73vh;
  }
}

@media screen and (max-height: 700px) {
  .content {
    min-height: 68vh;
  }
}

.content-categorias {
  padding: 30px 0px;
}

.btn {
  border-radius: 0px;
  padding: 5px 25px;
  outline: none;
}

.btn:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0px;
}

.form-control {
  border: 1px solid black;
  outline: none !important;
  height: calc(1.25em + 0.65rem + 2px);
  border-radius: 0px;
  margin: 5px 0px;
}

.invalid-form {
  border: 1px solid #ef161c;
}

.error-small {
  color: #ef161c;
}

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0px;
}

.home-content {
  height: 50vh;
}

.btn-info {
  background: white !important;
  color: black;
  border-color: black !important;
}

.btn-info:hover {
  background: black !important;
  color: white;
  border-color: black;
}

.btn-primary {
  background: black;
  border-color: black !important;
  color: white !important;
}

.btn-primary:hover {
  background: white;
  color: black;
}

body {
  width: 100%;
  position: absolute;
}

footer {
  height: 112px;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  overflow: hidden;
  background-color: black;
  position: relative;
  bottom: 0;
}

footer img {
  margin: 0px 5px;
  height: 40px;
}

footer p {
  margin-top: 10px;
}

